.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  /* Start with a column layout for mobile */
  padding: 20px;
  gap: 20px;
  height: calc(100vh - 100px);
  /* Adjust height to fill viewport below header */
}

.map-container {
  flex: 2;
  /* Map takes up 2/3 of the space */
  min-height: 400px;
  /* Ensure map has a minimum height */
}

.table-container {
  flex: 1;
  /* Table takes up 1/3 of the space */
  overflow-y: auto;
  /* Allow table to scroll if it gets too long */
}


/* Use a side-by-side layout for larger screens */
@media (min-width: 1024px) {
  .main-content {
    flex-direction: row;
    /* Switch to row layout */
  }
}